@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Questrial');
@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans:300|Questrial');
@font-face
{
    font-family: 'Questrial', sans-serif;
    font-family: 'Alegreya Sans', sans-serif;
    src: url(../Fonte_Texto/Questrial);
    src: url(../Fonte_Texto/Alegreya_Sans);
}
bory
{
    background-color: rgba(57,83,96);
    font-family: 'Alegreya Sans', sans-serif;
}

h1{
    font-size: 20pt;
    position: relative;
    left: 50px;
    top: 15px;
    color: rgba(57,83,96);
    text-decoration: none;
}
h1:hover
{
    font-size: 20pt;
    position: relative;
    left: 50px;
    top: 15px;
    color: rgba(57,83,96);
    text-decoration: none;
}
.h
{
    color: rgba(57,83,96);
}
h4
{
    font-size: 15px;
    color: white;
    position: relative;
    top: -10px;
    left: 550px;
    text-decoration: none;
    font-family: serif;
}
header
{
    position: fixed;
    background-color: white;
    width: 6000px; 
    height: 80px;
    margin-top: -25px;
    margin-left: -10px;
    box-shadow: 0px 0px 3px rgba(0,0,0,1);
    z-index: 1;
    
}
div#corpo
{
   
    height: 300px;
    width: 1351px;
    margin-top: 10px;
    margin-left: 0px;
    position: relative;
}
div#corpo2
{
    background-color: grey;
    height: 1px;
    width: 1351px;
    margin-top: 0px;
    margin-left: 0px;
    position: relative;
}
div#perguntas1
{
    background-color: pink;
    height: 300px;
    width: 1351px;
    margin-top: -0px;
    margin-left: 0px;
    position: relative;
}
div#perguntas2
{
    background-color: blue;
    height: 300px;
    width: 1351px;
    margin-top: 0px;
    margin-left: 0px;
    position: relative;
}

p.duvidas
{
    color: blue;
    font-size: 50px;
    top: -210px;
    left: 220px;
    position: absolute;
}
div#um
{
    position: absolute;
    height: 100px;
    width: 300px;
    text-align: justify;
    top: 0px;
    left: 100px;
}
div#dois
{
    position: absolute;
    height: 100px;
    width: 300px;
    text-align: justify;
    top: 0px;
    left: 500px;
}
div#tres
{
    position: absolute;
    height: 100px;
    width: 300px;
    text-align: justify;
    left: 900px;
    top: 0px;
    
}
div#quatro
{
    position: absolute;
    height: 100px;
    width: 300px;
    text-align: justify;
}
img#coffe
{
    position: relative;
    top: -200px;
    left: 700px;
}
figure#icon
{
    position: relative;
    left: 300px;
    top: -30px;
}

nav#menu
{
    display: block;
}

nav#menu ul{
    color: rgba(57,83,96);
    list-style: none; 
    text-transform: uppercase; 
    font-weight: bold;
    position: absolute; 
    top: 15px;
    left: 500px;
}
a
{
    color: rgba(57,83,96);
    text-decoration: none;
}
a:hover 
{
    color: white;
}
nav#menu li{
    display: inline-block; /*Diz que o menu vai estar um ao lado do outro*/
    background-color: white; 
    padding: 10px; 
    margin: -3px; 
    transition: background-color 3s;
}

/*SUBMENU*/
nav#menu li  ul{
position:absolute; 
top:30px; /*Defiine posição do submenu*/
left:350px; /*Define a posição do nosso submenu*/
background-color: ghostwhite; 
display:none;
    z-index: 1;
}   

nav#menu li:hover
{
      display: inline-block; /*Diz que o menu vai estar um ao lado do outro*/
    background-color: skyblue; 
    padding: 10px; 
    margin: -3px; 
    color: white;
    transition: background-color 1s;
}
nav#menu li:hover ul, nav#menu li.over ul{display:block;}

nav#menu li ul li{
border:1px; 
display:block; 
width:150px; /*Define a largura da caixinha*/
    text-align:     inherit;
}

/*Configurando Rodapé*/
footer#rodape
{
    background-color: rgba(57,83,99);
    height: 600px;
    width: 1350px;
    position: absolute;
    margin-top: -41px;
}
div#grupo1 /*Desenvolvedores*/
{
    position: relative;
    color: white;
    margin-left: 80px;
    top: 10px;
    list-style: none;
}

div#grupo2 /*Contatos*/
{
    position: relative;
    left: 300px;
    margin-top:  -215px;
     color: white;
    list-style:  none;
}
div#contra
{
    position: absolute;
    width: 1350px;
    height: 40px;
    background-color: rgba(57,83,96);
    margin-top: 530px;
}
form
{
    position: relative;
    margin-left: 800px;
    margin-top: -200px;
    height: 500px;
    width: 100px;   
}
label /*Formulário de Mensagem*/
{
    color: white;
    padding: 10px;
}
input
{
    height: 20px;
    width: 200px;
    background-color: white;
    padding: 10px;
    margin: 10px;
}

textarea
{
    width: 300px;
    height: 100px;
    margin: 10px;
}
button[type=submit]{
    background-color: white; /*Cor interna*/
    padding: 10px; /*Espaçamento interno*/
    color: rgba(57,83,96);
    border-color: white; /*Cor nas bordas*/
    margin: 10px;
}
hr
{
    position: relative;
    margin-top: -5px;
}
img#ins
{
    position: relative;
    top: -300px;
    left: -900px;
}
