@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Questrial');
@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans:300|Questrial');
@font-face
{
    font-family: 'Questrial', sans-serif;
    font-family: 'Alegreya Sans', sans-serif;
    src: url(../Fonte_Texto/Questrial);
    src: url(../Fonte_Texto/Alegreya_Sans);
}
bory
{
    background-color: rgba(57,83,96);
     font-family: 'Alegreya Sans', sans-serif;
}

h1{
    font-size: 20pt;
    position: relative;
    left: 50px;
    top: 15px;
    color: white;
    text-decoration: none;
}
h1:hover
{
    font-size: 20pt;
    position: relative;
    left: 50px;
    top: 15px;
    color: white;
    text-decoration: none;
}
h2
{
    position: relative;
    color: white;
    font-size: 35px;
    top: 20px;
    left: 300px;
}
h4
{
    font-size: 15px;
    color: white;
    position: relative;
    top: -10px;
    left: 550px;
    text-decoration: none;
}

header
{
    position: fixed;
    background-color: white;
    width: 1351px; 
    height: 80px;
    margin-top: -25px;
    margin-left: -10px;
    box-shadow: 0px 0px 3px rgba(0,0,0,1);
    z-index: 1;
}
div#div1{
    background-image: url(../banco_img/hackathon-1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    height: 400px;
    width: 1350px;
}
div#div2
{
    height: 950px;
}
hr
{
    position: absolute;
    top: -9px;
}
img#lamp
{
    position: relative;
    
    top: 0px;
    left: 100px;
}

img#lapiz
{
    position:relative;
    top: 0px;
    left: 600px;
}

img#pc
{
    position: relative;
    top: 400px;
    left: -100px; 
}
/*O que é a Hackathon*/
p.titulo
{
    color: royalblue;
    font-size: 20px;
}
div#what
{
    text-align: justify;
    height: 400px;
    width: 400px;
    position: absolute;
    top: 400px;
    left: 250px;
}
/*Origem*/
p.titulo2
{
    color: royalblue;
    font-size: 20px;
}
div#origem
{
    text-align: justify;
    height: 400px;
    width: 400px;
    position: absolute;
    top: 400px;
    left: 850px;
}
/*Hackathon na Fatec SA*/
p.titulo3
{
    color: royalblue;
    font-size: 20px;
}
div#hackfatec
{
    text-align: justify;
    height: 400px;
    width: 400px;
    position: absolute;
    top: 800px;
    left: 250px;
}
a.interesse 
{
    color: white;
}
a.interesse:hover
{
    color: white;
}
div#inshack
{
    position: absolute;
    background-color: dodgerblue;
    width: 1350;
    height: 150px;
    margin-top: -150px;
    margin-left: 0px;
}

/*Configurando Rodapé*/
footer#rodape
{
    background-color: rgba(57,83,99);
    height: 600px;
    width: 1350px;
    position: absolute;
    margin-top: -41px;
}
div#grupo1 /*Desenvolvedores*/
{
    position: relative;
    color: white;
    margin-left: 80px;
    top: 10px;
    list-style: none;
}

div#grupo2 /*Contatos*/
{
    position: relative;
    left: 300px;
    margin-top:  -215px;
     color: white;
    list-style:  none;
}
div#contra
{
    position: absolute;
    width: 1350px;
    height: 40px;
    background-color: rgba(57,83,96);
    margin-top: 530px;
}
form
{
    position: relative;
    margin-left: 800px;
    margin-top: -200px;
    height: 500px;
    width: 100px;   
}
label /*Formulário de Mensagem*/
{
    color: white;
    padding: 10px;
}
input
{
    height: 20px;
    width: 200px;
    background-color: white;
    padding: 10px;
    margin: 10px;
}

textarea
{
    width: 300px;
    height: 100px;
    margin: 10px;
}
button[type=submit]{
    background-color: white; /*Cor interna*/
    padding: 10px; /*Espaçamento interno*/
    color: rgba(57,83,96);
    border-color: white; /*Cor nas bordas*/
    margin: 10px;
}
hr
{
    position: relative;
    margin-top: -5px;
}
img#ins
{
    position: relative;
    top: -300px;
    left: -900px;
}

nav#menu
{
    display: block;
}

nav#menu ul{
    color: rgba(57,83,96);
    list-style: none; 
    text-transform: uppercase; 
    font-weight: bold;
    position: absolute; 
    top: 15px;
    left: 500px;
}
a
{
    color: rgba(57,83,96);
    text-decoration: none;
}
a:hover 
{
    color: white;
}
.home:hover
{
    color: rgba(57,83,99);
}
nav#menu li{
    display: inline-block; /*Diz que o menu vai estar um ao lado do outro*/
    background-color: white; 
    padding: 10px; 
    margin: -3px; 
    transition: background-color 1s;
}
nav#menu li:hover
{
      display: inline-block; /*Diz que o menu vai estar um ao lado do outro*/
    background-color: skyblue; 
    padding: 10px; 
    margin: -3px; 
    transition: background-color 1s;
}

/*SUBMENU*/
nav#menu li  ul{
position:absolute; 
top:25px; /*Defiine posição do submenu*/
left:350px; /*Define a posição do nosso submenu*/
background-color:ghostwhite; 
display:none;
    z-index: 1;
}   
nav#menu li:hover ul, nav#menu li.over ul{display:block;
}

nav#menu li ul li{
border:1px; 
display:block; 
width:150px; /*Define a largura da caixinha*/
    text-align:inherit;
}