@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Questrial');
@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans:300|Questrial');
@font-face
{
    font-family: 'Questrial', sans-serif;
    font-family: 'Alegreya Sans', sans-serif;
    src: url(../Fonte_Texto/Questrial);
    src: url(../Fonte_Texto/Alegreya_Sans);
}

body
{
    background-color:white;
    font-family: 'Alegreya Sans', sans-serif;
}

h1{
    font-size: 20pt;
    position: relative;
    left: 50px;
    top: 15px;
    color: rgb(0,0,1);
    font-family: 'Alegreya Sans', sans-serif;
}
h1:hover
{
    font-size: 20pt;
    position: relative;
    left: 50px;
    top: 15px;
    color: white;
    text-decoration: none;
}
.teste:hover
{
    font-size: 20pt;
    position: relative;
    left: 0px;
    top: 0px;
    color: rgba(57,83,96);
    font-family: 'Alegreya Sans', sans-serif;
}
h2
{
    color: white;
    position: absolute;
    margin-top: 120px;
    margin-left: 100px;
    font-size: 25pt;
    display: block;
    
}

h5
{
    color: white;
    position: absolute;
    margin-top: 120px;
    margin-left: 180px;
    font-size: 70pt;
    display: block;
    
}
h3{
    color: rgba(57,83,96);
    position: absolute;
    margin-top: 160px;
    margin-left: 300px;
    font-size: 25pt;
    display: block;
}
h4
{
    font-size: 15px;
    color: white;
    position: relative;
    top: -10px;
    left: 550px;
    font-family:serif;
}
header
{
    position: fixed;
    background-color: white;
    width: 1351px; 
    height: 80px;
    margin-top: -25px;
    margin-left: -10px;
    box-shadow: 0px 0px 3px rgba(0,0,0,1);
    z-index: 1;
    
}


figure#icon
{
    position: relative;
    left: 300px;
    top: -30px;
}
/*Imagem da Pagina inicial*/
img#home
{
    position: relative;
    margin-top: 55px;
    margin-left: 200px;
}
img#home:hover
{
    background-color: gold;
}
div#div1
{
    background-color:beige;
    background-repeat:no-repeat;
    position: relative;
    margin-top: 10px; 
    margin-left: -10px;
    height: 500px;
    width: 1351px;
   
    
}
div#div2
{
    background-color: transparent;
    width: 700px;
    height: 300px;
    margin-left: -90px;
    margin-top: 40px;
    
}
div#div3
{
    position: absolute;
    margin-top: -300px;
    margin-left: 350px;
    background-color: transparent;
    width: 700px;
    height: 300px;
}
div#div4
{
    position: absolute;
    margin-top: -300px;
    margin-left: 780px;
    background-color: transparent;
    width: 700px;
    height: 300px;
}
div#projetos
{
    position: relative;
    height: 400px;
    width: 1351px;
    background-image: url(../banco_img/code.png);
    opacity: 0.9;
}
.leao
{
    border-radius: 50%;
    position: absolute;
    top: 70px;
    left: 100px;
    opacity: 1;
    
}
.fade, h5
{
    opacity:1;
}
.fade:hover, h5
{
    opacity:0.5;
    color: black;
}
div#mara
{
    background-color: white;
    height: 400px;
    position: relative;
}
div#lista
{
    position: absolute;
    top: 10px;
    left: 800px;
    list-style: none;
    color: dodgerblue;
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 35px;
}

 ul#conheca
{
    color: black;
}
li#maratona /*Titulo da div2*/
{
    color: deepskyblue;
    font-size: 50px;
    position: relative;
   margin-top: -250px;
    list-style: none;
    margin-left: 100px;
}
li#maratona:hover /*Titulo da div2*/
{
    color: deepskyblue;
    font-size: 50px;
    position: relative;
   margin-top: -250px;
    list-style: none;
    margin-left: 100px;
}
div#hack
{
    background-color: white;
     height: 400px;
}
div#texto
{
    font-size: 20px;
    color: black;
    position: relative;
    margin-top: -350px;
    height: 400px;
    width: 700px;
    margin-left: 550px;
    text-align: justify;
    font-family: 'Alegreya Sans', sans-serif;
}
div#texto2
{
    font-size: 20px;
    color: black;
    position: relative;
    top: 0px;
    height: 400px;
    width: 600px;
    margin-left: 80px;
    text-align: justify;
    font-family: 'Alegreya Sans', sans-serif;
}

figure#fig1
{
    position: absolute;
    margin-left: 800px;
    margin-top: 30px;
}

a#saiba
{
    color:pink;
    position: absolute;
}
a#saiba:hover
{
    color:black;
    position: absolute;
}


div#imgsocial
{
    position: relative;
    left: 1000px;
    top: -25px;
}
img#balao
{
    position: relative;
    margin-left: 800px;
}
nav#menu
{
    display: block;
}

nav#menu ul{
    color: rgba(57,83,96);
    list-style: none; 
    text-transform: uppercase; 
    font-weight: bold;
    position: absolute; 
    top: 15px;
    left: 500px;
}
/*SUBMENU*/
nav#menu li  ul{
position:absolute; 
top:25px; /*Defiine posição do submenu*/
left:350px; /*Define a posição do nosso submenu*/
background-color: ghostwhite; 
display:none;
    z-index: 1;
    box-shadow: 0px 0px 0px 0px black;
}   
nav#menu li:hover ul, nav#menu li.over ul{
    
    display:block;}

nav#menu li ul li{
border:1px; 
display:block; 
width:150px; /*Define a largura da caixinha*/
    text-align:left; /*Posição dos subtopicos*/
    height: 30px;
}
a
{
    color: rgba(57,83,96);
    text-decoration: none;
}
.auto:hover
{
     color: rgba(57,83,96);
}
.efi:hover
{
     color: rgba(57,83,96);
}
.robo
{
    color: rgba(57,83,96);
    position: absolute;
    top: 280px;
    left: -720px;
}
.robo:hover
{
     color: rgba(57,83,96);
    position: absolute;
    top: 100px;
    left: -80px;
}
nav#menu li{
    display: inline-block; /*Diz que o menu vai estar um ao lado do outro*/
    background-color: white; 
    padding: 10px; 
    margin: -3px; 
    transition: background-color 1s;
}
nav#menu li:hover
{
      display: inline-block; /*Diz que o menu vai estar um ao lado do outro*/
    background-color: skyblue; 
    padding: 10px; 
    margin: -3px; 
    transition: background-color 1s;
    
}

.demo-1 {
    position:relative;
    width:400px; /*Largura da caixa do efeito da imagem*/
   height: 200px; /*Altura da caixa do efeito da imagem*/
    overflow:hidden;/*Efeito de rolagem*/
    float:left; /*Sentido de movimento*/
    margin-right:20px;
    background-color: cornflowerblue; /*Cor do fundo da caixa*/
    margin-left: 100px;
}
.demo-1 p,.demo-1 h2 {
    color: white; /*Definindo cor do titulo e do texto*/
    padding:20px; /*Padd, left e top estão definindo a localização do texto e do titulo na caixa de efeito*/
    left:-20px;
    top:30px;
    position:relative;
}
.demo-1 p { /*Mudando o texto*/
    font-family:'Lato';
    font-size:20px;
    line-height:18px;
    margin:0
}
.demo-1 h2 { /*Mudando o título*/
    font-family:'Lato';
    font-size:20px;
    line-height:24px;
    margin:0;
}
.effect img {
    position:absolute;
    margin:-90px 0;
    right:0;
    top:0;
    cursor:pointer;
    -webkit-transition:top .4s ease-in-out,right .4s ease-in-out;
    -moz-transition:top .4s ease-in-out,right .4s ease-in-out;
    -o-transition:top .4s ease-in-out,right .4s ease-in-out;
    transition:top .4s ease-in-out,right .4s ease-in-out
}
.effect img.top:hover {
    top:-230px;
    right:-330px;
    padding-bottom:200px;
    padding-left:300px
}
/*Configurando Rodapé*/
footer#rodape
{
    background-color: rgba(57,83,99);
    height: 600px;
    width: 1350px;
    position: absolute;
    margin-top: -41px;
}
div#grupo1 /*Desenvolvedores*/
{
    position: relative;
    color: white;
    margin-left: 80px;
    top: 10px;
    list-style: none;
}

div#grupo2 /*Contatos*/
{
    position: relative;
    left: 300px;
    margin-top:  -242px;
     color: white;
    list-style:  none;
}
div#contra
{
    position: absolute;
    width: 1350px;
    height: 40px;
    background-color: rgba(57,83,96);
    margin-top: 530px;
}
form
{
    position: relative;
    margin-left: 800px;
    margin-top: -200px;
    height: 500px;
    width: 100px;   
}
label /*Formulário de Mensagem*/
{
    color: white;
    padding: 10px;
}
input
{
    height: 20px;
    width: 200px;
    background-color: white;
    padding: 10px;
    margin: 10px;
}

textarea
{
    width: 300px;
    height: 100px;
    margin: 10px;
}
button[type=submit]{
    background-color: white; /*Cor interna*/
    padding: 10px; /*Espaçamento interno*/
    color: rgba(57,83,96);
    border-color: white; /*Cor nas bordas*/
    margin: 10px;
}
hr
{
    position: relative;
    margin-top: -5px;
}
img#ins
{
    position: relative;
    top: -300px;
    left: -900px;
}
